<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.alejandroruiz.scores_app">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Scores App" android:icon="@drawable/ic_launcher" android:theme="@style/ScoresAppTheme"></application>
</manifest>